.hat {
    display: inline-block;
    width: 250px;
    text-align: center;
}

.hat-img {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;

    background: #ccc;
    border-radius: 125px;
}

.hat-img img {
    width: 150px;
}

.colour-black img {
    color: #fff;
    fill: currentColor;
}

.colour-black {
    color: #fff;
    background-color: #333;
}

.colour-grey {
    background-color: #999;
}

.colour-red {
    background-color: red;
}

.colour-green {
    background-color: green;
}

.colour-blue {
    color: #fff;
    background-color: blue;
}

.colour-brown {
    color: #fff;
    background-color: brown;
}

.colour-yellow {
    background-color: yellow;
}