$colour-white: #fff;
$colour-black: #000;
$colour-grey: #999;
$colour-red: #ff1300;
$colour-green: #00d86d;
$colour-blue: #0039ff;
$colour-brown: #5e2f12;
$colour-yellow: #ffb500;

@mixin hat-content($colour: $colour-black) {
    .hat-icon {
        border-color: $colour;
    }
    .hat-icon, .heading {
        color: $colour;
        background-color: rgba($colour, 0.25);
    }

    .heading-day {
        color: $colour-white;
        background-color: $colour;
    }

    .hat-svg {
        color: rgba($colour, 0.9);
    }

    &:hover {
        .hat-icon {
            transform: rotateY(180deg);
        }

        .hat-svg {
            width: 200px;
            height: 200px;
        }
    }
}

.hat {
    display: inline-block;
    width: 250px;
    margin: 2.5rem;
    cursor: pointer;

    .heading {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
    }

    .heading-day, .heading-hat {
        margin: 0;
        padding: 1rem;
    }

    .heading-day {
        border-radius: 0.5rem 0 0 0.5rem;
    }

    .hat-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 250px;
        border-radius: 125px;
        transition: transform 0.35s;
        border: 6px solid transparent;

    }

    .hat-svg {
        width: 150px;
        height: 150px;
        transition: all 0.2s;
    }

    &.colour-black {
        @include hat-content($colour-black);
    }

    &.colour-grey {
        @include hat-content($colour-grey);
    }

    &.colour-red {
        @include hat-content($colour-red);
    }

    &.colour-green {
        @include hat-content($colour-green);
    }

    &.colour-blue {
        @include hat-content($colour-blue);
    }

    &.colour-brown {
        @include hat-content($colour-brown);
    }

    &.colour-yellow {
        @include hat-content($colour-yellow);
    }
}
