$colour-black: #000;
$colour-grey: #999;
$colour-red: #f00;
$colour-green: #0f0;
$colour-blue: #00f;
$colour-brown: #7c0909;
$colour-yellow: #ffee00;

.hat {
    display: inline-block;
    width: 250px;
    text-align: center;

    &:hover {
        .hat-img {
            transform: rotateY(180deg);
        }

        .hat-svg {
            width: 200px;
            height: 200px;
        }
    }

    &.colour-black {
        .hat-img {
            background-color: rgba($colour-black, 0.75);
        }

        .hat-svg {
            color: rgba($colour-black, 0.75);
        }
    }

    &.colour-grey {
        .hat-img {
            background-color: rgba($colour-grey, 0.5);
        }

        .hat-svg {
            color: rgba($colour-grey, 0.75);
        }
    }

    &.colour-red {
        .hat-img {
            background-color: rgba($colour-red, 0.5);
        }

        .hat-svg {
            color: rgba($colour-red, 0.75);
        }
    }

    &.colour-green {
        .hat-img {
            background-color: rgba($colour-green, 0.5);
        }

        .hat-svg {
            color: rgba($colour-green, 0.75);
        }
    }

    &.colour-blue {
        .hat-img {
            background-color: rgba($colour-blue, 0.5);
        }

        .hat-svg {
            color: rgba($colour-blue, 0.75);
        }
    }

    &.colour-brown {
        .hat-img {
            background-color: rgba($colour-brown, 0.5);
        }

        .hat-svg {
            color: rgba($colour-brown, 0.75);
        }
    }

    &.colour-yellow {
        .hat-img {
            background-color: rgba($colour-yellow, 0.5);
        }

        .hat-svg {
            color: rgba($colour-yellow, 0.75);
        }
    }
}

.hat-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    transition: transform 0.35s;

    .hat-svg {
        width: 150px;
        height: 150px;
        transition: all 0.2s;
    }
}
